<mat-toolbar color="primary">
    <div fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
        <span>Ioutupe</span>
        <mat-spinner color="warn" diameter="50"></mat-spinner>


        <button mat-raised-button [routerLink]="[ '/home' ]">
            <mat-icon>home</mat-icon>
        </button>

        <button mat-raised-button [routerLink]="[ '/login' ]">
            <mat-icon>login</mat-icon>
        </button>
        <button mat-raised-button [routerLink]="[ '/playlist' ]">
            <mat-icon>play_arrow</mat-icon>
        </button>
        <button mat-raised-button [routerLink]="[ '/spinr' ]">
            <mat-icon>album</mat-icon>
        </button>
        <button mat-raised-button [routerLink]="[ '/experiment' ]">
            <mat-icon>error</mat-icon>
        </button>

        <mat-slide-toggle color="warn" (toggleChange)="eventNaSlider()">otazka zivota</mat-slide-toggle>
    </div>
    <span class="example-spacer"></span>
    <mat-spinner color="warn" diameter="50"></mat-spinner>


</mat-toolbar>
{{textik1}}

  