.bkgimg {
    background-image: url('https://wallpaperplay.com/walls/full/8/4/b/197768.jpg');
    height          : calc(100vh - 128px);
    width           : 100%;
}

.bkgimg22 {
    background-image: url('https://wallpaperplay.com/walls/full/2/5/f/47480.jpg');
    height          : calc(100vh - 128px);
    width           : 100%;
}

.bkgimg222 {
    background-image: url('https://images.hdqwalls.com/download/vaporwave-zl-1920x1080.jpg');
    height          : calc(100vh - 128px);
    width           : 100%;
}

