<button (click)="drawRectable()">Draw rectable</button>

<canvas id="stage" width="200" height="200"></canvas>

<div [ngClass]="{'bkgimg': isImg2===false, 'bkgimg22': isImg2===true, 'bkgimg222': isImg2===null}" >

    <button mat-raised-button (click)="chgimg_click()">
        <mat-icon>error</mat-icon>
    </button>

</div>


{{textik1}}