<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>daj heslo</mat-label>
      <input matInput placeholder="" value="heslo">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a heslo</mat-label>
      <textarea matInput placeholder="nake heslo"></textarea>
    </mat-form-field>
  </form>

<button mat-button>Ok</button>
<iframe width="100%" height="100%"
src="https://www.youtube.com/embed/DDU-rZs-Ic4?autoplay=1">
</iframe>
  