<button mat-raised-button (click)="maSaUkazat=!maSaUkazat">Otec stlac to!</button>


<mat-selection-list>
    <mat-list-option *ngFor="let item of poleChruntov">{{item.id}} a za nim hned {{item.txt}}</mat-list-option>
</mat-selection-list>
<div *ngIf="maSaUkazat===true">
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
    <mat-spinner color="warn" diameter="50"></mat-spinner>
</div>