<mat-card>
    <mat-card-header>
        <mat-card-title>News</mat-card-title>
        <mat-card-subtitle>videos</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>

    </mat-card-content>
    <mat-card-actions>
        <button mat-button>Ok</button>
    </mat-card-actions>
</mat-card>


